/*Llamados a hojas de estilo*/
@import url("inicio/inicio.css");
@import url("arriendos/arriendos.css");
@import url("servicios/servicios.css");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

/*Estilos generales*/
body{
  background-color: #F5F5F5;
  font-family: 'Montserrat', verdana;
}

.margen-top{
  margin-top: 20px;
}

.margen-espacio{
  margin-top:20px;
  margin-bottom: 20px;
}

.margen-contenedor{
  margin-top: 70px;
}

/*Estilos del Footer*/
footer{
  background: #141414;
  color: #0071B9;
  font-size: 11px;
  padding: 20px;
  margin-top: 20px;
}

ul.unstyled{
    list-style: none;
    padding: 0px;
}

ul.unstyled a{
  color: #727272;
  font-size: 14px;
}

ul.unstyled li{
  color: #727272;
  font-size: 14px;
  margin-top: 5px;
}

ul.unstyled img{
  width: 20px;
  height: 20px;
}

/*Estilos de la barra de navegacion*/

.navbar-inverse{
  background-color: black;
  height: 70px;
}

.navbar-inverse .navbar-brand{
  color: white;
  line-height: 35px;
  padding-left: 70px;
}

.navbar-inverse .navbar-nav{
  float: right;
  margin-right: 70px;
}

.navbar-inverse .navbar-nav li a{
  color: white;
  line-height: 35px;
  height: 70px;
}

.navbar-inverse .navbar-nav li a:hover{
  background-color: #0071B9;
  vertical-align: middle;
}
